body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content section */
.main-content-section {
  padding: 100px 90px;
}
/* about me section */
.about-me-section {
  margin: 0 0 40px 0;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}
.about-my-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 55px;
  color: black;
  margin: 0 0 25px 0;
}
/* can`t width section */
.decribe-me {
  margin-right: 100px;
  width: 550px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* my projects section */
.my-projects-section {
  margin-bottom: 50px;
}
.main-content-titles {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin-bottom: 10px;
}
.my-projects-list {
  color: bk=l=black;
  padding: 0 0 0 18px;
}
.my-projects-bracket,
.my-project-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
.my-projects-link,
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
/* work, education, courses */
.my-work-company-container {
  margin: 0 15px 0 0;
}
.my-work-experience-company {
  color: #c65c35;
}
.my-work-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10;
}
.work-time-divided {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: black;
}
.my-work-duties {
  padding: 0 0 0 18px;
}
.my-work-duties-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10;
}
.education-ul {
  padding: 0 0 0 px;
}

/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  color: #fff;
  width: 370px;
  padding: 40px 0;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 0 0 10px 0;
}
/* contacts section */
.contacts-section-type {
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #949ca9;
}
/* skills list */
.skills {
  padding: 0 0 0 18px;
}
.skills-item {
  color: #fb6d3a;
}
.skills-item-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
